APP_STATE_FILE=.local/app_state.json
BOOK_CATALOG_URL=http://127.0.0.1:8002
USER_PROFILE_URL=http://127.0.0.1:8001
RECOMMENDATION_URL=http://127.0.0.1:8004
LLM_SERVICE_URL=http://127.0.0.1:8005
DEFAULT_USER_ID=demo-user
EMBEDDING_DIM=64
